{% extends "base.html.twig" %}

{% block content %}

<table class="crawlers"><thead class="crawlers"><tr><th>domain</th><th>launch</th><th>frequency</th></tr></thead>
{% for robot in robots %}
<tr><td>{{robot.domain}}</td><td>{{robot.start_time}}</td>
{% if robot.weekday == null %}
<td>daily</td>
{% else %}
<td>{{ robot.weekday }}</td>
{% endif %}
</tr>
{% endfor %}
</table>


{% endblock %}
