{% extends "base.html.twig" %}

{% block content %}

<table><th>Domain</th><th>Launch</th></tr></td>
{% for robot in robots %}
<tr><td>{{robot.domain}}</td><td>{{robot.start_time}}</td></tr>
{% endfor %}
</table>


{% endblock %}
